

<form (ngSubmit)="makeMoney()">  
  <label for="amount">How Many? </label>
  <input name="amount" id="amount" type="number" min="0" size="1" [(ngModel)]="newAmount"> <br>
<label>Which Coin? </label>
  <select #dpCoin (change)="onSelectedCointType(dpCoin.value)" >
    <option *ngFor="let coinType of enumKeys"
        [value]="coinType">{{CoinType[coinType]}}</option>
  </select>
<br>
  <button type="submit">Make Money</button>
  </form>
  <label >Value </label>
  <label >{{CurrentValue | currency}}</label>

  <div *ngFor="let coin of coins; index as i">
    <!-- <div class="circle">{{CoinType[coin]}}</div> -->
    <button class="circle {{ coin.color }}" (click)="remove(coin.coinId)">{{CoinType[coin.type]}} </button>
  </div>